################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerRouteTest/obj
/CustomerRouteTest/bin/Debug/net6.0
/.vs
/CustomerRouteApp/.vs
/CustomerRouteApp/bin/Debug/net6.0
/CustomerRouteApp/obj
